.logo {
    height: 50%;
  }

.logo > a{
    display: block;
    height: 100%;
}
  
.logo > a > img {
    width: auto;
    max-height: 100%;
    vertical-align: middle;
}

@media (max-width: 680px) {
    .logo{
        height: 40%;
    }
  }